extends layout

block content
  
  p Dependencies:
  ul 
    li
        a(href='/downloads/Bonjour64.msi') Bonjour
    li
        a(href='http://www.microsoft.com/en-us/download/details.aspx?id=40784') VC redist
    
  p Desktop client:
  ul
    li
        a(href='/downloads/Ctrl+Couch.exe') Ctrl+Couch.exe