extends layout

block content
  
  p Some second screen apps:
  ul 
    li
        a(href='/youtube') Big Screen YouTube
    li
        a(href='/presentation') Presentation from far away
    li
        a(href='/mouse') Mouse from far away
    li
        a(href='/gamez') The GAMEZ
    li
        a(href='/downloads') downloads