#nav-bar
	height: 40px

body
	background-color: #1B1B1D
	width: 320px
	font-family: sans-serif

#detector
	z-index 3
	width 320px
	height 320px

.mousebutton
	width: 320px
	position: absolute
	top 0
	left 0
	z-index 2
	
.mousebutton-pressed
	display none
	z-index 1

.chart
	height: 200px;
	width: 100%;


#menubutton
	position: absolute
	top: 12px
	left: 12px
	z-index: 4
	
#menubuttonimage
	width: 24px
	
.sidebar-html
	height 100%

.unselectable
	-webkit-user-select: none;

#debug
	padding-top: 320px;

.hidden
	display none

h1
	font-size 1.4em
	color #FC5F02
	text-align center
	padding-top 7px
	padding-bottom 18px
	margin 0