html {
  height: 100%;
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.overlay {
  background-color: rgba(241,241,241,0.5);
  padding: 3px;
  width: 100%;
  color: #fff;
  font-family: sans-serif;
  position: absolute;
}
#flashcontent {
  height: 100%;
}
