body {
  font-family: sans-serif;
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
li {
  font-family: sans-serif;
  font-weight: bold;
  margin-bottom: 30px;
}
.footer {
  font-style: italic;
  font-size: 12px;
}
.controls {
  display: none;
  background-color: #000;
  color: #fff;
}
#now-playing-thumbnail {
  height: 64px;
  float: left;
  position: relative;
}
#now-playing-thumbnail-image {
  height: 64px;
}
.now-playing-overlay {
  position: absolute;
  top: 0;
  left: 25px;
}
#now-playing-progress-bar {
  height: 64px;
  margin-left: 117px;
  position: relative;
}
#now-playing-progress {
  background-color: #cc181e;
  height: 64px;
}
#controls-row {
  height: 64px;
  padding-bottom: 3px;
}
#now-playing-duration {
  position: absolute;
  height: 64px;
  line-height: 64px;
  top: 0;
  left: 15px;
}
